/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin:0px;
	padding:0px;
	background-color:#f1f4f8;//f3f3f3;//dedede//f0f0f0;
	
	font-family: 'Roboto', sans-serif;
//	font-weight: 100;
}
.body_content_wrapper{
	min-height:70vh;
}
#notice { margin:0px;}
a {
	color: #000;
	text-decoration:none;
	background-color:#FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color:rgba(0,0,0,0.0);
}
a:hover{
	background-color:rgba(0,0,0,0.0);
	color:#ACF;
}
a:visited {
	color: #000;
	background-color:rgba(0,0,0,0.0);
}

.form_wrapper {
	margin: 0 auto;
	max-width: 40%;
	min-width: 40%;
	margin-top:20px;
}
form{
	padding-top:30px;
    background-color: #EEE;
    
    border-radius: 6px;
    text-align: center;
	background: #FFF;
	box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.5);
	overflow:hidden;
	border: 1px solid #ddd;
	
	

	margin-top: 50px;
	margin-bottom: 50px;
}
.field {}
.field input {
	-webkit-padding-end: 20px;
	-moz-padding-end: 20px;
	-webkit-padding-start: 2px;
	-moz-padding-start: 2px;
	background-color: #F07575;
	background-image: -webkit-linear-gradient(top, #fff, #fff);
	background-image: -moz-linear-gradient(top, #fff, #fff);
	background-image: -ms-linear-gradient(top, #fff, #fff);
	background-image: -o-linear-gradient(top, #fff, #fff);
	//background-image: url("../images/icon_search.png"), linear-gradient(to bottom, #fff, #fff);//#ebf1f5, #fff);
	background-position: 96%;//center right;
	background-repeat: no-repeat;
	border: 1px solid #d7dee2;
	border-radius: 4px;
	box-shadow: 0px 0px 1px rgba(0.5, 0.5, 0.9, 0.2);
	color: #555;
	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 30px;
	color: #364650;
	
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 16px;
}
form h2 {
	color: #364650;
	font-family: 'Antonio', sans-serif !important;
    font-size: 26px !important;
}
form .form_button {
	height: 40px;
    width: 100%;
    border: 0px;
    background: #364650;
    font-family: 'Antonio', sans-serif !important;
    font-size: 16px !important;
    color: #FFF;
    border-radius: 0px 0px 6px 6px;
}
.actions {
	padding: 0px;
    margin: 0px !important;
}
.button {
	padding: 10px;
	background: #BBC;
	border-radius: 5px;
	font-weight: 100;
}
.button:hover{
	background: #BBC;
}
.main_nav_bar {
//	padding: 20px 10px;
	margin: 0px;
	background-color: #364650;

	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.7);
}
.heading_div {
	color: #FFF;
	float: left;
	height: 100%;
	display: block;
	line-height: 30px;
	padding-top: 10px;
	padding-left: 20px;

	font-family: 'Antonio', sans-serif !important;
	font-size: 26px !important;
}
.heading_div a {
	font-family: 'Antonio', sans-serif !important;
	font-size: 26px !important;
	color:#FFF;
}
.tag_line {
	font-size: 10px;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	padding: 0px;
	line-height: 10px;
	text-align: right;
}
.links_div {
	float:right;
	margin-right:20px;
}
.links_div ul {
	font-size: 14px;
	line-height: 0px;
	margin: 0px;
}
.links_div ul li {
	float: left;
	text-decoration: none;
	display: block;
	line-height:60px;
}
.links_div ul li a {
	color: #FFF;
	display: block;
	text-decoration: none;
	padding:0px 10px;
}
.links_div ul li a:hover {
	color: #364650;
	display: block;
	text-decoration: none;
	background:#FFF;
}

.footer{
	padding: 30px 60px 20px 60px;
	background-color: #364650;
	color: #FFF;

	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.7);
	margin-top: 30px;
}
.disclaimer_heading{
	font-family: 'Antonio', sans-serif !important;
	font-size: 30px !important;
	line-height: 20px;
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
}
.disclaimer_heading a {
	line-height: 0px;
    font-size: 20px;
    float: none;
    color: #8397a3;
}
.disclaimer_heading a:hover {
	color: #f1f4f8;
    border-top: 1px solid #f1f4f8;
}
.disclaimer_text{
	float: left;
	width: 70%;
	text-align: justify;
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px !important;
	font-weight: 100;
	line-height: 15px;
}

.contact_info{
	padding-top: 10px;
}

.footer_options{
	float: right;
	padding-right: 8%;
}

.contact_heading{
	float: left;
	font-family: 'Antonio', sans-serif !important;
	font-size: 12px !important;
}
.contact_options{
	float: right;
}
.contact_options a {
	font-size: 10px;
	color: #FFF;
	//padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
}

.contact_options ul {
	margin: 0px;
	padding: 0px;
}
.contact_options ul li {
	display: block;
	
	float: left;
	padding-left: 10px;
}
.contact_options ul li img {
	width: 20px;
	height: 16px;
}
