// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.format_button{
	display: block;
    float: left;
    padding: 5px 5px;
    margin: 5px;
    background: #EEF;
    filter: drop-shadow(0px 0px 3px #CCC);
    text-align: center;
    vertical-align: middle;
}
// Resources
.resource_posts_container{
	//background:#FFF;
	//padding:10px 0px 0px 0px;
	margin:10px;
	
	//border-radius:3px;
	//border: 1px solid #DDD;
	
	padding:0px;
	width:90%;
	margin:0 auto;
	
	position:relative;

	//padding: 0px 20px 40px 20px;
}
.resource_posts_container h2 {
	margin-bottom:10px
}

.resource_posts_container:hover{
	//box-shadow: 3px 3px 4px -4px rgba(0, 0, 0, 0.5);
}
.resource_posts_title{
	font-size:18px;
	line-height:20px;
	
	padding: 50px 10px 0px 60px;
	 
}
.resource_posts_user{
	background: #f1f4f8;
	padding: 2px 10px 2px 0px;
	text-align: right;
	position: absolute;
	bottom: 0px;
	width: 99%;
	border-bottom: 0.1px solid #AAA;
}
.post_title_value{
	float:left;
	//font-family: 'Antonio', sans-serif !important;
	font-size: 33px;
	line-height: 40px;

	margin-bottom: -5px;
	z-index: 1;
	position: relative;

	color: #364650;
}
.post_admin_options {
	padding-left:10px;
	font-size:12px;
	float:left;
}
.post_title_link{
	line-height: 60px;
	margin: 20px;
	font-size: x-large;
	font-weight: 400;
}
.post_title_link:hover{
	text-decoration:underline;
}

.options_container {
	position: relative;
	top: -50px;
	margin-right: 50px;
}